#id_gender, #id_job_city{
    list-style-type: none;
    display: inline-flex;
}


#id_gender_0{
 margin-left: 10px;
}

#id_gender_1{
 margin-left: 10px;
}
   
#id_job_city_0 {
    margin-left: 10px;
}

#id_job_city_1 {
    margin-left: 10px;
}

#id_job_city_2 {
    margin-left: 10px;
}

#id_job_city_3 {
    margin-left: 10px;
}

#id_job_city_4 {
    margin-left: 10px;
}

#id_job_city_5{
    margin-left: 10px;
}

#id_job_city_6 {
    margin-left: 10px;
}